extends ../../layouts/default.pug
include ../../mixins/product-layout.pug

block main 
    .container
        .product-header
            h1.page-title Danh sách sản phẩm

        +product-grid(products)