extends ../../layouts/default.pug
include ../../mixins/product-layout.pug

block main 
    h1.text-center.mt-2 Trang Chủ

    .container.row 
        .col-12 
            .product-header.card 
                .card-header
                    h3.text-left.text Danh sách sản phẩm nổi bật
                .card-body
                    +product-grid(productsFeatured)

    .container
        .product-header.card 
            .card-header
                h3.text-left.text Danh sách sản phẩm mới nhất
            .card-body
                +product-grid(newProducts)

    