mixin alert-error(time)
    - if(messages.error)
        div(class="messages info")
            div(
                class="alert alert-danger"
                show-alert
                data-time = time
            ) #{messages.error} 
                div(close-notifycation) X 
    