extends ../../layouts/default.pug
include ../../mixins/product-layout.pug
include ../../mixins/alert-error.pug
include ../../mixins/alert-success.pug

block main 
    +alert-error(2000)
    +alert-success(2000)
    link(rel="stylesheet", href="/css/chat.css")

    main.content.mt-3
        .container.p-0
            h1.h3.mb-3 Messages
            .card
                .row.g-0
                    .col-12.col-lg-5.col-xl-3.border-right.inner-person
                        .px-4.d-none.d-md-block
                            .d-flex.align-items-center
                                .flex-grow-1
                                    input.form-control.my-3(type="text" placeholder="Search...")
                        a.list-group-item.list-group-item-action.border-0(href="#")
                            .badge.bg-success.float-right 5
                            .d-flex.align-items-start
                                img.rounded-circle.mr-1(src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="Vanessa Tucker" width="40" height="40")
                                .flex-grow-1.ml-3
                                    | Vanessa Tucker
                                    .small
                                        span.fas.fa-circle.chat-online Online
                        a.list-group-item.list-group-item-action.border-0(href="#")
                            .badge.bg-success.float-right 2
                            .d-flex.align-items-start
                                img.rounded-circle.mr-1(src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="William Harris" width="40" height="40")
                                .flex-grow-1.ml-3
                                    | William Harris
                                    .small
                                        span.fas.fa-circle.chat-online Online
                        a.list-group-item.list-group-item-action.border-0(href="#")
                            .d-flex.align-items-start
                                img.rounded-circle.mr-1(src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Sharon Lessman" width="40" height="40")
                                .flex-grow-1.ml-3
                                    | Sharon Lessman
                                    .small
                                        span.fas.fa-circle.chat-online Online
                        a.list-group-item.list-group-item-action.border-0(href="#")
                            .d-flex.align-items-start
                                img.rounded-circle.mr-1(src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="Christina Mason" width="40" height="40")
                                .flex-grow-1.ml-3
                                    | Christina Mason
                                    .small
                                        span.fas.fa-circle.chat-offline Offline
                        a.list-group-item.list-group-item-action.border-0(href="#")
                            .d-flex.align-items-start
                                img.rounded-circle.mr-1(src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="Fiona Green" width="40" height="40")
                                .flex-grow-1.ml-3
                                    | Fiona Green
                                    .small
                                        span.fas.fa-circle.chat-offline Offline
                        a.list-group-item.list-group-item-action.border-0(href="#")
                            .d-flex.align-items-start
                                img.rounded-circle.mr-1(src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Doris Wilder" width="40" height="40")
                                .flex-grow-1.ml-3
                                    | Doris Wilder
                                    .small
                                        span.fas.fa-circle.chat-offline Offline
                        a.list-group-item.list-group-item-action.border-0(href="#")
                            .d-flex.align-items-start
                                img.rounded-circle.mr-1(src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="Haley Kennedy" width="40" height="40")
                                .flex-grow-1.ml-3
                                    | Haley Kennedy
                                    .small
                                        span.fas.fa-circle.chat-offline Offline
                        a.list-group-item.list-group-item-action.border-0(href="#")
                            .d-flex.align-items-start
                                img.rounded-circle.mr-1(src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Jennifer Chang" width="40" height="40")
                                .flex-grow-1.ml-3
                                    | Jennifer Chang
                                    .small
                                        span.fas.fa-circle.chat-offline Offline
                        hr.d-block.d-lg-none.mt-1.mb-0
                    .col-12.col-lg-7.col-xl-9
                        .py-2.px-4.border-bottom.d-none.d-lg-block
                            .d-flex.align-items-center.py-1
                                .position-relative
                                    img.rounded-circle.mr-1(src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Sharon Lessman" width="40" height="40")
                                .flex-grow-1.pl-3
                                    strong Sharon Lessman
                                    .text-muted.small
                                        em Typing...
                                button.btn.btn-primary.btn-lg.mr-1.px-3
                                    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone feather-lg")
                                        path(d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z")
                                button.btn.btn-info.btn-lg.mr-1.px-3.d-none.d-md-inline-block
                                    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video feather-lg")
                                        polygon(points="23 7 16 12 23 17 23 7")
                                        rect(x="1" y="5" width="15" height="14" rx="2" ry="2")
                                button.btn.btn-light.border.btn-lg.px-3
                                    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal feather-lg")
                                        circle(cx="12" cy="12" r="1")
                                        circle(cx="19" cy="12" r="1")
                                        circle(cx="5" cy="12" r="1")
                        .position-relative
                            .chat-messages.p-4
                                .chat-message-right.pb-4
                                    div
                                        img.rounded-circle.mr-1(src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Chris Wood" width="40" height="40")
                                        .text-muted.small.text-nowrap.mt-2 2:33 am
                                    .flex-shrink-1.bg-light.rounded.py-2.px-3.mr-3
                                        .font-weight-bold.mb-1 You
                                        | Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.
                                .chat-message-left.pb-4
                                    div
                                        img.rounded-circle.mr-1(src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Sharon Lessman" width="40" height="40")
                                        .text-muted.small.text-nowrap.mt-2 2:34 am
                                    .flex-shrink-1.bg-light.rounded.py-2.px-3.ml-3
                                        .font-weight-bold.mb-1 Sharon Lessman
                                        | Sit meis deleniti eu, pri vidit meliore docendi ut, an eum erat animal commodo.
                                .chat-message-right.mb-4
                                    div
                                        img.rounded-circle.mr-1(src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Chris Wood" width="40" height="40")
                                        .text-muted.small.text-nowrap.mt-2 2:35 am
                                    .flex-shrink-1.bg-light.rounded.py-2.px-3.mr-3
                                        .font-weight-bold.mb-1 You
                                        | Cum ea graeci tractatos.
                                .chat-message-left.pb-4
                                    div
                                        img.rounded-circle.mr-1(src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Sharon Lessman" width="40" height="40")
                                        .text-muted.small.text-nowrap.mt-2 2:36 am
                                    .flex-shrink-1.bg-light.rounded.py-2.px-3.ml-3
                                        .font-weight-bold.mb-1 Sharon Lessman
                                        | Sed pulvinar, massa vitae interdum pulvinar, risus lectus porttitor magna, vitae commodo lectus mauris et velit.
                                .chat-message-right.mb-4
                                    div
                                        img.rounded-circle.mr-1(src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Chris Wood" width="40" height="40")
                                        .text-muted.small.text-nowrap.mt-2 2:37 am
                                    .flex-shrink-1.bg-light.rounded.py-2.px-3.mr-3
                                        .font-weight-bold.mb-1 You
                                        | Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.
                                .chat-message-left.pb-4
                                    div
                                        img.rounded-circle.mr-1(src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Sharon Lessman" width="40" height="40")
                                        .text-muted.small.text-nowrap.mt-2 2:38 am
                                    .flex-shrink-1.bg-light.rounded.py-2.px-3.ml-3
                                        .font-weight-bold.mb-1 Sharon Lessman
                                        | Sit meis deleniti eu, pri vidit meliore docendi ut, an eum erat animal commodo.
                        .flex-grow-0.py-3.px-4.border-top
                            .input-group
                                input.form-control(type="text" placeholder="Type your message")
                                button.btn.btn-primary  Send
