include ../../mixins/alert-error.pug
include ../../mixins/alert-success.pug
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")

+alert-error(2000)
+alert-success(2000)

.container
    .row.justify-content-center.mt-5
        .col-6
            .card
                .card-header
                    h1 Đổi mật khẩu
                .card-body
                    form(action=`/user/password/change`, method="post")
                        div.form-group
                            label(for="newPassword") Nhập mật khẩu mới:
                            input.form-control(type="password" id="newPassword" name="newPassword" placeholder="Nhập mật khẩu mới" required)
                        div.form-group
                            label(for="confirmPassword") Xác nhận mật khẩu mới:
                            input.form-control(type="password" id="confirmPassword" name="confirmPassword" placeholder="Nhập mật khẩu mới" required)
                        button.btn.btn-primary(type="submit" class="mt-2") Xác nhận
                    div.mt-3
                        a(href="/") Bỏ qua
                        br
                        a(href="/user/register") Đăng kí
                        br
                        a(href="/user/password/forgot") Quên mật khẩu
