include ../../mixins/alert-error.pug
include ../../mixins/alert-success.pug


+alert-error(2000)
+alert-success(2000)

h1 Đổi mật khẩu 
br
form(action=`/user/password/change`, method="post") 
    label(for="newPassword") Nhập mật khẩu mới : 
    br
    input(type="password" id="newPassword" name="newPassword" placeholder="Nhập mật khẩu mới" required)  
    br
    label(for="newPassword") Xác nhận mật khẩu mới : 
    br
    input(type="password" id="newPassword" name="confirmPassword" placeholder="Nhập mật khẩu mới" required)  
    br
    button(type="submit", value="") Xác nhận 

a(href="/") Bỏ qua
br 

a(href="/user/register") Đăng kí 
br
a(href="/user/password/forgot") Quên mật khẩu 
