include ../../mixins/alert-error.pug
include ../../mixins/alert-success.pug
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")

+alert-error(2000)
+alert-success(2000)

.container
    .row.justify-content-center.mt-5
        .col-6
            .card
                .card-header
                    h1 Quên mật khẩu
                .card-body
                    form(action=`/user/password/forgot`, method="post")
                        div.form-group
                            label(for="email") Nhập email:
                            input.form-control(type="email" id="email" name="email" placeholder="Nhập email" required)
                        button.btn.btn-primary(type="submit" class="mt-2") Xác nhận
                    div.mt-3
                        a(href="/user/register") Đăng kí
                        br
                        a(href="/user/password/forgot") Quên mật khẩu
                        br 
                        a(href="/") Trang chủ 
