include ../../mixins/alert-error.pug
include ../../mixins/alert-success.pug


+alert-error(2000)
+alert-success(2000)

h1 Quên mật khẩu 
br
form(action=`/user/password/forgot`, method="post") 
    label(for="email") Nhập email : 
    br
    input(type="email" id="email" name="email" placeholder="Nhập email" required)  
    br
    button(type="submit", value="") Xác nhận 

a(href="/user/register") Đăng kí 
br
a(href="/user/password/forgot") Quên mật khẩu 
