include ../../mixins/alert-error.pug
include ../../mixins/alert-success.pug


+alert-error(2000)
+alert-success(2000)

h1 Nhập OTP 
br
form(action=`/user/password/otp`, method="post") 
    label(for="email") Email :
    br 
    input(type="text" id="email" name="email" readonly value=email placeholder="Nhập email" required)
    br
    label(for="password") OTP :
    br
    input(type="text" id="password" name="otp" placeholder="Nhập otp" required)  
    br
    button(type="submit", value="") Xác nhận 

a(href="/user/register") Đăng kí 
br
a(href="/user/password/forgot") Quên mật khẩu 
