header.header 
    .container-fluid 
        .row.alig-items-center  
            .col-11 
                .inner-logo 
                    a(href=`${prefixAdmin}/dashboard`) ADMIN 

            .col-1
                .inner-logout 
                    a(href=`${prefixAdmin}/auth/logout` class="btn btn-danger") Đăng xuất