header.header 
    .container-fluid 
        .row.alig-items-center  
            .col-3 
                .inner-logo 
                    a(href=`${prefixAdmin}/dashboard`) ADMIN 
            .col-9
                .text-right
                    a(href="/" class="btn btn-info mr-2") View page 
                    a(href=`${prefixAdmin}/my-account` class="btn btn-primary mr-2") #{user.fullName} 
                    a(href=`${prefixAdmin}/auth/logout` class="btn btn-danger") Đăng xuất